body {
    background-color: lightgrey;
}

.backround {
    display: block;
    margin: auto;
    width: 50%;
}

.h1 {
    font-family: Arial;
    background-color: lightgray;
    color: green;
    text-align: center;
    border: 2px solid green;
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px auto;
    width: 40%;
    background-color: white;
}

.h2, .h3 {
    font-family: Arial;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.Description {
    font-family: Arial;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
}

.ingredients, .steps {
    text-align: center;
    list-style-type: none;
    padding: 0;
    font-family: Arial;
}

.box {
    border: 2px solid green;
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px auto;
    width: 80%;
    background-color: white;
} 